modules = ["java-graalvm22.3"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Spring Boot"

[[workflows.workflow]]
name = "Run Spring Boot"
author = 40966266
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn spring-boot:run"

[[ports]]
localPort = 5000
externalPort = 80
